beautifulsoup4==4.8.2
bs4==0.0.1
certifi==2019.11.28
chardet==3.0.4
cycler==0.10.0
et-xmlfile==1.0.1
idna==2.9
jdcal==1.4.1
kiwisolver==1.1.0
matplotlib==3.2.0
numpy==1.18.1
openpyxl==3.0.3
pandas==1.0.1
pathlib==1.0.1
pyparsing==2.4.6
PyPDF2==1.27.5
PyPDF4==1.27.0
python-dateutil==2.8.1
pytz==2019.3
requests==2.23.0
six==1.14.0
soupsieve==2.0
tika==1.23.1
urllib3==1.25.8
xlrd==1.2.0
